<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabletop Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>





    </style>
</head>
<body>
    <div class="main" id="main">
        <div class="grid">
            <a asp-controller="Generator" asp-action="CharacterGenerator">
                <div class="card active">
                    <h3>Race Name Generator</h3>
                    <p>Fantasy-themed race names with cultural flavor</p>
                </div>
            </a>
            <div class="card disabled">
                <h3>City Name Generator</h3>
                <p>Generate immersive city names for your world</p>
            </div>
            <div class="card disabled">
                <h3>Religion Generator</h3>
                <p>Random pantheons and beliefs for worldbuilding</p>
            </div>
            <div class="card disabled">
                <h3>Blacksmith Generator</h3>
                <p>Give your towns blacksmiths a little flavor</p>
            </div>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("collapsed");
        }
    </script>
</body>
</html>
